################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/AskApplication/obj
/AskApplication/Properties/PublishProfiles
/HealthErpDAL/obj
/HealthErpDAL/bin
/packages
/AskApplication/bin/zh-Hans
/AskApplication/bin/WebGrease.dll
/AskApplication/bin/System.Web.WebPages.xml
/AskApplication/bin/System.Web.WebPages.Razor.xml
/AskApplication/bin/System.Web.WebPages.Razor.dll
/AskApplication/bin/System.Web.WebPages.dll
/AskApplication/bin/System.Web.WebPages.Deployment.xml
/AskApplication/bin/System.Web.WebPages.Deployment.dll
/AskApplication/bin/System.Web.Razor.xml
/AskApplication/bin/System.Web.Razor.dll
/AskApplication/bin/System.Web.Optimization.xml
/AskApplication/bin/System.Web.Optimization.dll
/AskApplication/bin/System.Web.Mvc.xml
/AskApplication/bin/System.Web.Mvc.dll
/AskApplication/bin/System.Web.Helpers.xml
/AskApplication/bin/System.Web.Helpers.dll
/AskApplication/bin/System.Diagnostics.DiagnosticSource.xml
/AskApplication/bin/System.Diagnostics.DiagnosticSource.dll
/AskApplication/bin/System.Data.SQLite.xml
/AskApplication/bin/System.Data.SQLite.Linq.dll
/AskApplication/bin/System.Data.SQLite.EF6.dll
/AskApplication/bin/System.Data.SQLite.dll.config
/AskApplication/bin/System.Data.SQLite.dll
/AskApplication/bin/Newtonsoft.Json.xml
/AskApplication/bin/Newtonsoft.Json.dll
/AskApplication/bin/Microsoft.Web.Infrastructure.dll
/AskApplication/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/AskApplication/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/AskApplication/bin/Microsoft.AspNet.TelemetryCorrelation.xml
/AskApplication/bin/Microsoft.AspNet.TelemetryCorrelation.dll
/AskApplication/bin/EntityFramework.xml
/AskApplication/bin/EntityFramework.SqlServer.xml
/AskApplication/bin/EntityFramework.SqlServer.dll
/AskApplication/bin/EntityFramework.dll
/AskApplication/bin/Dapper.xml
/AskApplication/bin/Dapper.dll
/AskApplication/bin/AskDAL.pdb
/AskApplication/bin/AskDAL.dll.config
/AskApplication/bin/AskDAL.dll
/AskApplication/bin/AskApplication.pdb
/AskApplication/bin/AskApplication.dll.config
/AskApplication/bin/AskApplication.dll
/AskApplication/bin/Antlr3.Runtime.pdb
/AskApplication/bin/Antlr3.Runtime.dll
/AskApplication/bin/App_Data
