################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/AskApplication/obj
/AskApplication/Properties/PublishProfiles
/HealthErpDAL/obj
/HealthErpDAL/bin
/packages
/AskApplication/bin/zh-Hans
/AskApplication/bin/WebGrease.dll
/AskApplication/bin/System.Web.WebPages.xml
/AskApplication/bin/System.Web.WebPages.Razor.xml
/AskApplication/bin/System.Web.WebPages.Razor.dll
/AskApplication/bin/System.Web.WebPages.dll
/AskApplication/bin/System.Web.WebPages.Deployment.xml
/AskApplication/bin/System.Web.WebPages.Deployment.dll
/AskApplication/bin/System.Web.Razor.xml
/AskApplication/bin/System.Web.Razor.dll
/AskApplication/bin/System.Web.Optimization.xml
/AskApplication/bin/System.Web.Optimization.dll
/AskApplication/bin/System.Web.Mvc.xml
/AskApplication/bin/System.Web.Mvc.dll
/AskApplication/bin/System.Web.Helpers.xml
/AskApplication/bin/System.Web.Helpers.dll
/AskApplication/bin/System.Diagnostics.DiagnosticSource.xml
/AskApplication/bin/System.Diagnostics.DiagnosticSource.dll
/AskApplication/bin/System.Data.SQLite.xml
/AskApplication/bin/System.Data.SQLite.Linq.dll
/AskApplication/bin/System.Data.SQLite.EF6.dll
/AskApplication/bin/System.Data.SQLite.dll.config
/AskApplication/bin/System.Data.SQLite.dll
/AskApplication/bin/Newtonsoft.Json.xml
/AskApplication/bin/Newtonsoft.Json.dll
/AskApplication/bin/Microsoft.Web.Infrastructure.dll
/AskApplication/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/AskApplication/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/AskApplication/bin/Microsoft.AspNet.TelemetryCorrelation.xml
/AskApplication/bin/Microsoft.AspNet.TelemetryCorrelation.dll
/AskApplication/bin/EntityFramework.xml
/AskApplication/bin/EntityFramework.SqlServer.xml
/AskApplication/bin/EntityFramework.SqlServer.dll
/AskApplication/bin/EntityFramework.dll
/AskApplication/bin/Dapper.xml
/AskApplication/bin/Dapper.dll
/AskApplication/bin/AskDAL.pdb
/AskApplication/bin/AskDAL.dll.config
/AskApplication/bin/AskDAL.dll
/AskApplication/bin/AskApplication.pdb
/AskApplication/bin/AskApplication.dll.config
/AskApplication/bin/AskApplication.dll
/AskApplication/bin/Antlr3.Runtime.pdb
/AskApplication/bin/Antlr3.Runtime.dll
/AskApplication/bin/App_Data
/AskApplication/bin/Release
/AskApplication/bin/System.Threading.Tasks.Extensions.xml
/AskApplication/bin/System.Threading.Tasks.Extensions.dll
/AskApplication/bin/System.Threading.Channels.xml
/AskApplication/bin/System.Threading.Channels.dll
/AskApplication/bin/System.Runtime.InteropServices.RuntimeInformation.dll
/AskApplication/bin/System.Runtime.CompilerServices.Unsafe.xml
/AskApplication/bin/System.Runtime.CompilerServices.Unsafe.dll
/AskApplication/bin/System.Numerics.Vectors.xml
/AskApplication/bin/System.Numerics.Vectors.dll
/AskApplication/bin/System.Net.Sockets.dll
/AskApplication/bin/System.Net.Http.Formatting.xml
/AskApplication/bin/System.Net.Http.Formatting.dll
/AskApplication/bin/System.Memory.xml
/AskApplication/bin/System.Memory.dll
/AskApplication/bin/System.IO.Pipelines.xml
/AskApplication/bin/System.IO.Pipelines.dll
/AskApplication/bin/System.IO.Compression.dll
/AskApplication/bin/System.Buffers.xml
/AskApplication/bin/System.Buffers.dll
/AskApplication/bin/StackExchange.Redis.xml
/AskApplication/bin/StackExchange.Redis.dll
/AskApplication/bin/SeanCommon.pdb
/AskApplication/bin/SeanCommon.dll
/AskApplication/bin/Pipelines.Sockets.Unofficial.xml
/AskApplication/bin/Pipelines.Sockets.Unofficial.dll
/AskApplication/bin/Newtonsoft.Json.pdb
/AskApplication/bin/netstandard.dll
/AskApplication/bin/MySql.Data.xml
/AskApplication/bin/MySql.Data.dll
/AskApplication/bin/log4net.xml
/AskApplication/bin/log4net.dll
/AskApplication/bin/ICSharpCode.SharpZipLib.dll
/AskApplication/bin/EPPlus.xml
/AskApplication/bin/EPPlus.dll
/AskDAL/bin/Debug/WebGrease.dll
/AskDAL/bin/Debug/System.Xml.XPath.XDocument.dll
/AskDAL/bin/Debug/System.Xml.XPath.dll
/AskDAL/bin/Debug/System.Xml.XmlSerializer.dll
/AskDAL/bin/Debug/System.Xml.XmlDocument.dll
/AskDAL/bin/Debug/System.Xml.XDocument.dll
/AskDAL/bin/Debug/System.Xml.ReaderWriter.dll
/AskDAL/bin/Debug/System.Web.WebPages.xml
/AskDAL/bin/Debug/System.Web.WebPages.Razor.xml
/AskDAL/bin/Debug/System.Web.WebPages.Razor.dll
/AskDAL/bin/Debug/System.Web.WebPages.dll
/AskDAL/bin/Debug/System.Web.WebPages.Deployment.xml
/AskDAL/bin/Debug/System.Web.WebPages.Deployment.dll
/AskDAL/bin/Debug/System.Web.Razor.xml
/AskDAL/bin/Debug/System.Web.Razor.dll
/AskDAL/bin/Debug/System.Web.Mvc.xml
/AskDAL/bin/Debug/System.Web.Mvc.dll
/AskDAL/bin/Debug/System.Web.Helpers.xml
/AskDAL/bin/Debug/System.Web.Helpers.dll
/AskDAL/bin/Debug/System.ValueTuple.xml
/AskDAL/bin/Debug/System.ValueTuple.dll
/AskDAL/bin/Debug/System.Threading.Timer.dll
/AskDAL/bin/Debug/System.Threading.ThreadPool.dll
/AskDAL/bin/Debug/System.Threading.Thread.dll
/AskDAL/bin/Debug/System.Threading.Tasks.Parallel.dll
/AskDAL/bin/Debug/System.Threading.Tasks.Extensions.xml
/AskDAL/bin/Debug/System.Threading.Tasks.Extensions.dll
/AskDAL/bin/Debug/System.Threading.Tasks.dll
/AskDAL/bin/Debug/System.Threading.Overlapped.dll
/AskDAL/bin/Debug/System.Threading.dll
/AskDAL/bin/Debug/System.Threading.Channels.xml
/AskDAL/bin/Debug/System.Threading.Channels.dll
/AskDAL/bin/Debug/System.Text.RegularExpressions.dll
/AskDAL/bin/Debug/System.Text.Encoding.Extensions.dll
/AskDAL/bin/Debug/System.Text.Encoding.dll
/AskDAL/bin/Debug/System.Security.SecureString.dll
/AskDAL/bin/Debug/System.Security.Principal.dll
/AskDAL/bin/Debug/System.Security.Cryptography.X509Certificates.dll
/AskDAL/bin/Debug/System.Security.Cryptography.Primitives.dll
/AskDAL/bin/Debug/System.Security.Cryptography.Encoding.dll
/AskDAL/bin/Debug/System.Security.Cryptography.Csp.dll
/AskDAL/bin/Debug/System.Security.Cryptography.Algorithms.dll
/AskDAL/bin/Debug/System.Security.Claims.dll
/AskDAL/bin/Debug/System.Runtime.Serialization.Xml.dll
/AskDAL/bin/Debug/System.Runtime.Serialization.Primitives.dll
/AskDAL/bin/Debug/System.Runtime.Serialization.Json.dll
/AskDAL/bin/Debug/System.Runtime.Serialization.Formatters.dll
/AskDAL/bin/Debug/System.Runtime.Numerics.dll
/AskDAL/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/AskDAL/bin/Debug/System.Runtime.InteropServices.dll
/AskDAL/bin/Debug/System.Runtime.Handles.dll
/AskDAL/bin/Debug/System.Runtime.Extensions.dll
/AskDAL/bin/Debug/System.Runtime.dll
/AskDAL/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
/AskDAL/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/AskDAL/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/AskDAL/bin/Debug/System.Resources.Writer.dll
/AskDAL/bin/Debug/System.Resources.ResourceManager.dll
/AskDAL/bin/Debug/System.Resources.Reader.dll
/AskDAL/bin/Debug/System.Reflection.Primitives.dll
/AskDAL/bin/Debug/System.Reflection.Extensions.dll
/AskDAL/bin/Debug/System.Reflection.dll
/AskDAL/bin/Debug/System.ObjectModel.dll
/AskDAL/bin/Debug/System.Numerics.Vectors.xml
/AskDAL/bin/Debug/System.Numerics.Vectors.dll
/AskDAL/bin/Debug/System.Net.WebSockets.dll
/AskDAL/bin/Debug/System.Net.WebSockets.Client.dll
/AskDAL/bin/Debug/System.Net.WebHeaderCollection.dll
/AskDAL/bin/Debug/System.Net.Sockets.dll
/AskDAL/bin/Debug/System.Net.Security.dll
/AskDAL/bin/Debug/System.Net.Requests.dll
/AskDAL/bin/Debug/System.Net.Primitives.dll
/AskDAL/bin/Debug/System.Net.Ping.dll
/AskDAL/bin/Debug/System.Net.NetworkInformation.dll
/AskDAL/bin/Debug/System.Net.NameResolution.dll
/AskDAL/bin/Debug/System.Net.Http.Formatting.xml
/AskDAL/bin/Debug/System.Net.Http.Formatting.dll
/AskDAL/bin/Debug/System.Net.Http.dll
/AskDAL/bin/Debug/System.Memory.xml
/AskDAL/bin/Debug/System.Memory.dll
/AskDAL/bin/Debug/System.Linq.Queryable.dll
/AskDAL/bin/Debug/System.Linq.Parallel.dll
/AskDAL/bin/Debug/System.Linq.Expressions.dll
/AskDAL/bin/Debug/System.Linq.dll
/AskDAL/bin/Debug/System.IO.UnmanagedMemoryStream.dll
/AskDAL/bin/Debug/System.IO.Pipes.dll
/AskDAL/bin/Debug/System.IO.Pipelines.xml
/AskDAL/bin/Debug/System.IO.Pipelines.dll
/AskDAL/bin/Debug/System.IO.MemoryMappedFiles.dll
/AskDAL/bin/Debug/System.IO.IsolatedStorage.dll
/AskDAL/bin/Debug/System.IO.FileSystem.Watcher.dll
/AskDAL/bin/Debug/System.IO.FileSystem.Primitives.dll
/AskDAL/bin/Debug/System.IO.FileSystem.DriveInfo.dll
/AskDAL/bin/Debug/System.IO.FileSystem.dll
/AskDAL/bin/Debug/System.IO.dll
/AskDAL/bin/Debug/System.IO.Compression.ZipFile.dll
/AskDAL/bin/Debug/System.IO.Compression.dll
/AskDAL/bin/Debug/System.Globalization.Extensions.dll
/AskDAL/bin/Debug/System.Globalization.dll
/AskDAL/bin/Debug/System.Globalization.Calendars.dll
/AskDAL/bin/Debug/System.Dynamic.Runtime.dll
/AskDAL/bin/Debug/System.Drawing.Primitives.dll
/AskDAL/bin/Debug/System.Diagnostics.Tracing.dll
/AskDAL/bin/Debug/System.Diagnostics.TraceSource.dll
/AskDAL/bin/Debug/System.Diagnostics.Tools.dll
/AskDAL/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
/AskDAL/bin/Debug/System.Diagnostics.StackTrace.dll
/AskDAL/bin/Debug/System.Diagnostics.Process.dll
/AskDAL/bin/Debug/System.Diagnostics.PerformanceCounter.dll
/AskDAL/bin/Debug/System.Diagnostics.FileVersionInfo.dll
/AskDAL/bin/Debug/System.Diagnostics.Debug.dll
/AskDAL/bin/Debug/System.Diagnostics.Contracts.dll
/AskDAL/bin/Debug/System.Data.SQLite.xml
/AskDAL/bin/Debug/System.Data.SQLite.Linq.dll
/AskDAL/bin/Debug/System.Data.SQLite.EF6.dll
/AskDAL/bin/Debug/System.Data.SQLite.dll.config
/AskDAL/bin/Debug/System.Data.SQLite.dll
/AskDAL/bin/Debug/System.Data.Common.dll
/AskDAL/bin/Debug/System.Console.dll
/AskDAL/bin/Debug/System.ComponentModel.TypeConverter.dll
/AskDAL/bin/Debug/System.ComponentModel.Primitives.dll
/AskDAL/bin/Debug/System.ComponentModel.EventBasedAsync.dll
/AskDAL/bin/Debug/System.ComponentModel.dll
/AskDAL/bin/Debug/System.Collections.Specialized.dll
/AskDAL/bin/Debug/System.Collections.NonGeneric.dll
/AskDAL/bin/Debug/System.Collections.dll
/AskDAL/bin/Debug/System.Collections.Concurrent.dll
/AskDAL/bin/Debug/System.Buffers.xml
/AskDAL/bin/Debug/System.Buffers.dll
/AskDAL/bin/Debug/System.AppContext.dll
/AskDAL/bin/Debug/StackExchange.Redis.xml
/AskDAL/bin/Debug/StackExchange.Redis.dll
/AskDAL/bin/Debug/SeanCommon.pdb
/AskDAL/bin/Debug/SeanCommon.dll
/AskDAL/bin/Debug/Quartz.xml
/AskDAL/bin/Debug/Quartz.pdb
/AskDAL/bin/Debug/Quartz.dll
/AskDAL/bin/Debug/Pipelines.Sockets.Unofficial.xml
/AskDAL/bin/Debug/Pipelines.Sockets.Unofficial.dll
/AskDAL/bin/Debug/NLog.xml
/AskDAL/bin/Debug/NLog.dll
/AskDAL/bin/Debug/Newtonsoft.Json.xml
/AskDAL/bin/Debug/Newtonsoft.Json.pdb
/AskDAL/bin/Debug/Newtonsoft.Json.dll
/AskDAL/bin/Debug/netstandard.dll
/AskDAL/bin/Debug/MySql.Data.xml
/AskDAL/bin/Debug/MySql.Data.Entity.EF6.xml
/AskDAL/bin/Debug/MySql.Data.Entity.EF6.dll
/AskDAL/bin/Debug/MySql.Data.dll
/AskDAL/bin/Debug/Microsoft.Win32.Primitives.dll
/AskDAL/bin/Debug/Microsoft.Web.Infrastructure.dll
/AskDAL/bin/Debug/MathNet.Numerics.xml
/AskDAL/bin/Debug/MathNet.Numerics.dll
/AskDAL/bin/Debug/LogHelper.dll
/AskDAL/bin/Debug/log4net.xml
/AskDAL/bin/Debug/log4net.dll
/AskDAL/bin/Debug/itextsharp.xml
/AskDAL/bin/Debug/itextsharp.dll
/AskDAL/bin/Debug/ICSharpCode.SharpZipLib.dll
/AskDAL/bin/Debug/HealthErpDAL.pdb
/AskDAL/bin/Debug/HealthErpDAL.dll.config
/AskDAL/bin/Debug/HealthErpDAL.dll
/AskDAL/bin/Debug/Google.Protobuf.xml
/AskDAL/bin/Debug/Google.Protobuf.dll
/AskDAL/bin/Debug/EPPlus.xml
/AskDAL/bin/Debug/EPPlus.dll
/AskDAL/bin/Debug/EntityFramework.xml
/AskDAL/bin/Debug/EntityFramework.SqlServer.xml
/AskDAL/bin/Debug/EntityFramework.SqlServer.dll
/AskDAL/bin/Debug/EntityFramework.dll
/AskDAL/bin/Debug/DataAnnotationsExtensions.dll
/AskDAL/bin/Debug/Dapper.dll
/AskDAL/bin/Debug/CsvHelper.xml
/AskDAL/bin/Debug/CsvHelper.dll
/AskDAL/bin/Debug/Common.Logging.xml
/AskDAL/bin/Debug/Common.Logging.pdb
/AskDAL/bin/Debug/Common.Logging.dll
/AskDAL/bin/Debug/Common.Logging.Core.xml
/AskDAL/bin/Debug/Common.Logging.Core.pdb
/AskDAL/bin/Debug/Common.Logging.Core.dll
/AskDAL/bin/Debug/AutoMapper.xml
/AskDAL/bin/Debug/AutoMapper.pdb
/AskDAL/bin/Debug/AutoMapper.dll
/AskDAL/bin/Debug/AskDAL.pdb
/AskDAL/bin/Debug/AskDAL.dll.config
/AskDAL/bin/Debug/AskDAL.dll
/AskDAL/obj
/AskDAL/bin/Release
/obj/Debug
