################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/AskApplication/bin
/AskApplication/obj
/AskApplication/Properties/PublishProfiles
/HealthErpDAL/obj
/HealthErpDAL/bin
/packages
